name: Continuous Integration

on:
  push:
    branches:
      - master
      - develop

  pull_request:
    branches:
      - master
      - develop

  workflow_dispatch: ~

env:
  CMAKE_VERSION: 3.18.4
  NINJA_VERSION: 1.10.1
  CTEST_OUTPUT_ON_FAILURE: 1
  NINJA_STATUS: '[%f/%t %o/sec] '

jobs:
  tests:
    strategy:
      matrix:
        conf:
          - name: Ubuntu (Clang 11 - TSAN)
            os: ubuntu-20.04
            cc: clang-11
            cxx: clang++-11
            tsan: YES

          - name: Ubuntu (Clang 11 - no TSAN)
            os: ubuntu-20.04
            cc: clang-11
            cxx: clang++-11
            tsan: NO

          - name: macOS (Clang 11 - no TSAN)
            os: macos-latest
            cc: clang
            cxx: clang++
            tsan: NO

          - name: Windows (Visual Studio Enterprise 2019)
            os: windows-latest
            cc: cl
            cxx: cl
            tsan: NO

    name: ${{ matrix.conf.name }}

    runs-on: ${{ matrix.conf.os }}

    env:
      CC: ${{ matrix.conf.cc }}
      CXX: ${{ matrix.conf.cxx }}

    steps:
      - uses: actions/checkout@v1

      - uses: friendlyanon/fetch-core-count@v1
        id: cores

      - run: cmake -E make_directory build/tools

      - name: Install CMake and Ninja
        id: tools
        working-directory: build/tools
        run: cmake -D RUNNER_OS=${{ runner.os }}
          -P ../../cmake/ciToolsUpdate.cmake

      - name: Combine CI variables
        id: args
        shell: cmake -P {0}
        run: >
          message([==[::set-output name=args::${{ matrix.conf.os }}
          "${{ steps.tools.outputs.cmake }}"
          "${{ steps.tools.outputs.ninja }}"
          ${{ steps.cores.outputs.plus_one }}]==])

      - name: Install clang 11
        run: |
            sudo apt-get update
            sudo apt-get install clang-11 libc++-11-dev libc++abi-11-dev
        if: ${{ startsWith(matrix.conf.os, 'ubuntu') }}

      - name: Build examples
        run: cmake -P cmake/ciBuild.cmake -- example build/example
          ${{ steps.args.outputs.args }}
        continue-on-error: ${{ startsWith(matrix.conf.os, 'macos') }}

      - name: Build tests
        id: build_tests
        continue-on-error: ${{ startsWith(matrix.conf.os, 'macos') }}
        run: cmake -P cmake/ciBuild.cmake -- test build/test
          ${{ steps.args.outputs.args }}
          -D ENABLE_THREAD_SANITIZER:BOOL=${{ matrix.conf.tsan }}

      - name: Run tests
        continue-on-error: ${{ startsWith(matrix.conf.os, 'macos') }}
        if: steps.build_tests.outcome == 'success'
        working-directory: build/test
        shell: cmake -P {0}
        run: >
          include(../../cmake/exec.cmake)

          exec("${{ steps.tools.outputs.ctest }}" -C Release -V
          -j ${{ steps.cores.outputs.plus_one }})
